#div1{
    height: 4rem;
    /* 100vh; */
    /* 200px; */
    width: 2rem;
    /* 200px; */
    background-color: red;
    /* rgba(25,125,200,1) */
    /* rgb(25,125,200,1) */
}

#div2{
    height: 50%;
    width: 50%;
    background-color: rgb(56, 222, 222);
}